/* Custom Scrollbar*/
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#011af7, #0195f7);
}
/* End of Custom Scrollbar*/

/* Custom Pricing*/
.pricing {
  width: 100%;
  height: 150vh;
  margin-top: 30rem;
}

.pricing-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-rectangle {
  width: 50rem;
  height: 50rem;
  background: linear-gradient(135deg, #184fbb, transparent 80%);
  border-radius: 10rem;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: rotateZ(45deg);
  opacity: 0.3;
}

.pricing-small-circle {
  width: 8rem;
  height: 8rem;
  background-color: #34dd87;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  right: 15%;
  opacity: 0.3;
}

.pricing-large-circle {
  width: 50rem;
  height: 50rem;
  background: linear-gradient(to right, transparent, #7118d6 90%);
  border-radius: 50%;
  position: absolute;
  bottom: -75%;
  right: 11%;
  opacity: 0.3;
}

.pricing-header {
  text-align: center;
  margin-bottom: 20rem;
}

.pricing-header h1 {
  font-family: "Mooli", cursive;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  color: #263b53;
}

.pricing-header h3 {
  font-size: 2rem;
  font-weight: 300;
  color: #567599;
  width: 80rem;
  margin: 2rem auto;
}

.pricing-header p {
  font-size: 2rem;
  font-weight: 300;
  margin-right: 1rem;
}

.reviews {
  display: flex;
  justify-content: center;
}

.pricing-stars {
  margin-right: 1rem;
}

.pricing-stars span {
  font-size: 2.5rem;
  color: #fc9700;
}

.pricing-trustpilot {
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
}

.pricing-trustpilot span:nth-child(1) {
  font-size: 3.5rem;
  color: #fc9700;
}

.pricing-trustpilot span:nth-child(2) {
  font-size: 2rem;
}

.pricing-cards {
  display: flex;
  perspective: 50rem;
}

.pricing-card {
  width: 50rem;
  height: 72rem;
  background-color: #fff;
  box-shadow: 9px 6px 18px #000;
  z-index: 10;
  margin: 0 1.5rem;
  padding: 4rem 6rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pricing-card-right {
  transform: translateZ(5rem);
}

.pricing-card-top h3 {
  font-family: "Mooli", cursive;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.pricing-card-left .pricing-card-top h3,
.pricing-card-left .pricing-card-top h1 {
  background: linear-gradient(to right, #44a1fd, #0b3fa8 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.pricing-card-right .pricing-card-top h3,
.pricing-card-right .pricing-card-top h1 {
  background: linear-gradient(to right, #ca6eff, #7118d6 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.pricing-card-top h1 {
  font-family: "Mooli", cursive;
  font-size: 6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.pricing-card-stars {
  margin-bottom: 4rem;
}

.pricing-card-stars span {
  color: #03b57f;
}

.pricing-card-list {
  list-style: none;
  margin-bottom: 4rem;
}

.pricing-card-list li {
  font-size: 2rem;
  font-weight: 400;
  color: #567599;
  margin: 1.5rem 0;
}

.pricing-card-list li:nth-child(5) {
  color: #03b57f;
}

.pricing-card-left .pricing-card-list li:last-child {
  text-decoration: line-through;
  opacity: 0.5;
}

.pricing-card-btn {
  width: 100%;
  height: 6rem;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-shadow: 0 0.3rem rgba(0, 0, 0, 0.781);
  box-shadow: 9px 6px 18px #000;
  transition: transform 0.3s;
}

.pricing-card-btn:hover {
  transform: translateY(-0.3rem);
}

.pricing-card-left .pricing-card-btn {
  background: linear-gradient(to right, #44a1fd, #0b3fa8 90%);
}

.pricing-card-right .pricing-card-btn {
  background: linear-gradient(to right, #ca6eff, #7118d6 90%);
}
/* End of Pricing*/

/* Responsive */
@media (max-width: 1600px) {
  .pricing-small-circle {
    right: 10%;
  }
  .pricing-large-circle {
    right: 5%;
    bottom: -80%;
  }
}

@media (max-width: 1024px) {
  .pricing-card {
    width: 40rem;
  }
  .pricing-rectangle {
    top: 75%;
    left: 5%;
    width: 45rem;
    height: 45rem;
  }

  .pricing-large-circle {
    bottom: -75%;
    right: 5%;
    width: 45rem;
    height: 45rem;
  }

  .pricing-small-circle {
    top: 70%;
    right: 5%;
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: 820px) {
  .pricing {
    height: 120vh;
  }
  .pricing-rectangle {
    left: -3%;
    top: 55%;
  }

  .pricing-small-circle {
    width: 6rem;
    height: 6rem;
    top: 48%;
    right: 5%;
  }

  .pricing-large-circle {
    width: 40rem;
    height: 40rem;
    bottom: -20%;
    right: 0;
  }

  .pricing-header {
    width: 80rem;
  }

  .pricing-cards {
    perspective: none;
  }

  .pricing-card-right {
    transform: translateZ(0);
  }
}

@media (max-width: 768px) {
  .pricing-rectangle {
    left: -3%;
    top: 60%;
  }

  .pricing-small-circle {
    top: 58%;
    right: 8%;
  }

  .pricing-large-circle {
    bottom: -35%;
    right: 0;
  }
}

@media (max-width: 430px) {
  .pricing {
    height: 180vh;
  }
  .pricing-header {
    width: 67rem;
  }

  .pricing-header h1 {
    font-size: 4rem;
    width: 50rem;
    margin: auto;
  }
  .pricing-header h3 {
    font-size: 2rem;
    width: 50rem;
    margin: 2rem auto;
  }

  .pricing-rectangle {
    width: 50rem;
    height: 50rem;
    top: 55%;
    left: -10%;
  }
  .pricing-small-circle {
    top: 55%;
    right: 10%;
  }

  .pricing-large-circle {
    width: 50rem;
    height: 50rem;
    bottom: -75%;
    right: 0%;
  }

  .pricing-cards {
    flex-direction: column;
    margin-bottom: 70%;
  }

  .pricing-card {
    margin: 0 1.5rem 10rem 1.5rem;
  }
  .pricing-card-btn {
    margin-top: -2rem;
  }
}

@media (max-width: 430px) {
  .pricing-rectangle {
    width: 50rem;
    height: 50rem;
    top: 50%;
    left: -10%;
  }
  .pricing-small-circle {
    top: 48%;
    right: 10%;
  }

  .pricing-large-circle {
    width: 50rem;
    height: 50rem;
    bottom: -60%;
    right: 0%;
  }
  .pricing-card-btn {
    margin-top: -4rem;
  }
}

/* End of Responsive */
