/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Mukta", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
/* End of Default Styles */

/* Container */
.container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 12rem;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.navbar.sticky {
  height: 8rem;
  background-color: #fff;
  box-shadow: 0 1rem 10rem rgba(130, 162, 235, 0.6);
}

/* Logo */
.logo {
  display: flex;
  flex-direction: column;
}

.logo span {
  text-shadow: 0 0.7rem rgba(0, 0, 0, 0.3);
}

.logo span:nth-child(1) {
  font-family: "Mooli", cursive;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.logo span:nth-child(1) span {
  display: inline-block;
  font-size: 1.8rem;
  transform: translateY(-0.8rem);
}
.logo span:nth-child(2) {
  display: inline-block;
  font-family: "Croissant One", cursive;
  font-size: 1.5rem;
  color: #ddd;
  letter-spacing: 0.1rem;
  text-align: right;
  transform: translate(4.2rem, -1rem);
}

.sticky .logo span {
  color: #092627;
  text-shadow: 0 0.7rem rgba(206, 206, 206, 0.3);
}

/* End of Logo */

/* Nav Items */
.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  list-style: none;
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  top: 2.9rem;
  left: 50%;
  transform: translateX(-50%);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid #fff;
  opacity: 0;
  visibility: hidden;
}

.nav-item:hover::after {
  opacity: 1;
  visibility: visible;
}

.sticky .nav-item::after {
  top: 6rem;
}

.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.7rem rgba(0, 0, 0, 0.3);
}

.sticky .nav-link {
  color: #092627;
  text-shadow: 0 0.7rem rgba(206, 206, 206, 0.3);
}

.no-triangle::after {
  display: none; /* Oculta el triángulo solo en PRECIOS */
}

/* Dropdown 1 */
.dropdown {
  position: absolute;
  top: 4.9rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 12px 6px 18px #000;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.sticky .dropdown {
  top: 8rem;
  box-shadow: 0 1rem 10rem rgba(130, 162, 235, 0.6);
}

.dropdown-1 {
  left: -24rem;
  width: 96rem;
  height: 60rem;
  display: flex;
}

.dropdown-1-left {
  width: 30%;
  padding-right: 4rem;
}

.dropdown-1-right {
  width: 70%;
  padding-left: 2rem;
}

.dropdown-1-left h3,
.dropdown-1-right h3 {
  font-family: "Mooli", cursive;
  font-size: 1.8rem;
  color: #011af7;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
}

.features-list-item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.features-list-item i {
  font-size: 2.5rem;
  width: 4rem;
  color: #0195f7;
  transition: color 0.3s;
}

.features-list-item:hover i {
  transform: scale(1.1);
}

.features-list-item span {
  font-size: 1.5rem;
  color: #8698a7;
  font-weight: bold;
  transition: color 0.3s;
}

.features-list-item:hover i,
.features-list-item:hover span {
  color: #011af7;
}

.dropdown-services {
  height: 45rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-service,
.product {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  cursor: pointer;
}

.dropdown-service i,
.product i {
  width: 5.5rem;
  height: 5.5rem;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  align-items: center;
  font-size: 2.5rem;
  color: #fff;
  box-shadow: 12px 6px 18px #000;
  transition: transform 0.3s;
}

.dropdown-service:hover i,
.product:hover i {
  transform: scale(1.1);
}

.dropdown-service:nth-child(1) i,
.product:nth-child(1) i {
  background: linear-gradient(to left, #011af7, #6dc4fd);
  box-shadow: 12px 6px 18px #50b2f3;
  border: 1px solid #000c77;
}

.dropdown-service:nth-child(2) i,
.product:nth-child(2) i {
  background: linear-gradient(to left, #31dca1, #7ffcc2);
  box-shadow: 12px 6px 18px #5fd4ab;
  border: 1px solid #009e67;
}

.dropdown-service:nth-child(3) i,
.product:nth-child(3) i {
  background: linear-gradient(to left, #016e8a, #76e4ff);
  box-shadow: 12px 6px 18px #72dffa;
  border: 1px solid #016e8a;
}

.dropdown-service:nth-child(4) i,
.product:nth-child(4) i {
  background: linear-gradient(to left, #fd9800, #f8d39b);
  box-shadow: 12px 6px 18px #fdc878;
  border: 1px solid #fd9800;
}

.dropdown-service:nth-child(5) i,
.product:nth-child(5) i {
  background: linear-gradient(to left, #7301a0, #d261ff);
  box-shadow: 12px 6px 18px #c791dd;
  border: 1px solid #7301a0;
}

.dropdown-service:nth-child(6) i {
  background: linear-gradient(to left, #800116, #fc8b9e);
  box-shadow: 12px 6px 18px #f7adb9;
  border: 1px solid #800116;
}

.dropdown-service:nth-child(7) i {
  background: linear-gradient(to left, #800116, #011af7);
  box-shadow: 12px 6px 18px #000;
  border: 1px solid #800116;
}

.dropdown-service-item,
.product div {
  display: flex;
  flex-direction: column;
}

.dropdown-service-item span,
.product div span {
  font-size: 1.3rem;
  color: #6d7983;
}

.dropdown-service-item span:nth-child(1),
.product div span:nth-child(1) {
  font-family: "Mooli", cursive;
  font-weight: bold;
  color: #000c77;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.dropdown-service:nth-child(1) .dropdown-service-item span:nth-child(1),
.product:nth-child(1) div span:nth-child(1) {
  color: #000c77;
}

.dropdown-service:nth-child(2) .dropdown-service-item span:nth-child(1),
.product:nth-child(2) div span:nth-child(1) {
  color: #009e67;
}

.dropdown-service:nth-child(3) .dropdown-service-item span:nth-child(1),
.product:nth-child(3) div span:nth-child(1) {
  color: #016e8a;
}

.dropdown-service:nth-child(4) .dropdown-service-item span:nth-child(1),
.product:nth-child(4) div span:nth-child(1) {
  color: #fd9800;
}

.dropdown-service:nth-child(5) .dropdown-service-item span:nth-child(1),
.product:nth-child(5) div span:nth-child(1) {
  color: #7301a0;
}

.dropdown-service:nth-child(6) .dropdown-service-item span:nth-child(1) {
  color: #800116;
}

.dropdown-service:nth-child(7) .dropdown-service-item span:nth-child(1) {
  color: #38020b;
}

.dropdown-service-item span:nth-child(2),
.product div span:nth-child(2) {
  font-weight: 300;
  font-weight: bold;
}

.dropdown-1-right button {
  width: 30%;
  height: 4rem;
  margin-left: 22rem;
  background-color: #0195f7;
  border: none;
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 6px 3px 9px #000;
  transition: color 0.3s;
}

.dropdown-1-right button:hover {
  transform: translateY(-0.3rem);
}

/* End of Dropdown 1 */

/* Dropdown 2 */
.dropdown-2 {
  width: 90rem;
  height: 37rem;
  left: -27rem;
  display: flex;
}

.clients-item {
  width: 100%;
  margin: 0 0.5rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;
  transition: transform 0.3s;
}
.clients-item:hover {
  transform: scale(1.1);
}

.clients-item:nth-child(1) {
  background: linear-gradient(to left, #6dc4fd, #ceeafc);
  box-shadow: 12px 6px 18px #b8e0fa;
}
.clients-item:nth-child(2) {
  background: linear-gradient(to left, #f7d5a2, #faead3);
  box-shadow: 12px 6px 18px #f1dbb8;
}
.clients-item:nth-child(3) {
  background: linear-gradient(to left, #ab60c9, #ecc5fc);
  box-shadow: 12px 6px 18px #c791dd;
}
.clients-item:nth-child(4) {
  background: linear-gradient(to left, #80ebc5, #d4f8e7);
  box-shadow: 12px 6px 18px #b6f0d5;
}
.clients-item i {
  font-size: 10rem;
}
.clients-item:nth-child(1) i,
.clients-item:nth-child(1) h3 {
  color: #011af7;
}
.clients-item:nth-child(2) i,
.clients-item:nth-child(2) h3 {
  color: #fd9800;
}
.clients-item:nth-child(3) i,
.clients-item:nth-child(3) h3 {
  color: #7301a0;
}
.clients-item:nth-child(4) i,
.clients-item:nth-child(4) h3 {
  color: #009e67;
}

.clients-item h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 0.7rem;
}

.clients-item p {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: #515152;
}

/* End of Dropdown 2 */

/* Dropdown 3 */

.dropdown-3 {
  width: 40rem;
  height: 47rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem 2rem 2rem;
}

.product {
  margin: 1.7rem 0;
}

.dropdown-3 button {
  width: 100%;
  height: 4rem;
  background-color: #0195f7;
  border: none;
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 6px 3px 9px #000;
  transition: transform 0.3s;
}

.dropdown-3 button:hover {
  transform: translateY(-0.3rem);
}

/* End of Dropdown 3 */

/* Dropdown 4 */

.dropdown-4 {
  width: 28rem;
  height: 33rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem 2rem 2rem;
}

.contact-options div {
  margin: 1.4rem 0;
  cursor: pointer;
}

.contact-options i {
  width: 4rem;
  font-size: 2rem;
  color: #3293ff;
}

.contact-options span {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #3293ff;
}

.dropdown-4 button {
  width: 100%;
  height: 4rem;
  background-color: #0195f7;
  border: none;
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 6px 3px 9px #000;
  transition: transform 0.3s;
}

.dropdown-4 button:hover {
  transform: translateY(-0.3rem);
}

/* End of Dropdown 4 */

/*Dropdown 5 */
.dropdown-5 {
  width: 30rem;
  height: 32rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2.5rem;
}

.account-input-group {
  display: flex;
  flex-direction: column;
}

.account-input-group input {
  width: 100%;
  height: 5rem;
  background-color: rgba(191, 213, 240, 0.4);
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #444;
  box-shadow: 6px 3px 9px #000;
}

.account-input-group input::placeholder {
  color: #999;
}

.check {
  margin-top: -2rem;
}

.check label {
  font-size: 1.6rem;
  font-weight: 300;
  color: #777;
}

.account-form button {
  width: 100%;
  height: 4rem;
  background-color: #0195f7;
  border: none;
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin: 3rem 0 1.5rem 0;
  box-shadow: 6px 3px 9px #000;
  transition: transform 0.3s;
}

.account-form button:hover {
  transform: translateY(-0.3rem);
}

.account-form p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.account-form p span {
  color: #0195f7;
  cursor: pointer;
  font-weight: 400;
}

/* End of Dropdown 5 */

.nav-btn {
  width: 12.5rem;
  height: 3.5rem;
  background: linear-gradient(to left, #011af7, #0195f7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  box-shadow: 12px 6px 18px #000;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: white;
  text-transform: uppercase;
  transition: transform 0.3s;
}

.nav-btn:hover {
  transform: translateY(-0.3rem);
}

.sticky .nav-btn {
  background: linear-gradient(to left, #0195f7, #011af7);
  color: #fff;
}

/* End of Nav Items */
/* End of Navigation */

/* Header */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Banner */
.banner {
  position: absolute;
  top: 18%;
  left: 20%;
  z-index: 4;
}

.banner h1 {
  font-family: "Mooli", cursive;
  font-size: 13rem;
  color: #fff;
  text-shadow: 0.1rem 2rem rgba(0, 0, 0, 0.3);
}

.banner h3 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.7rem rgba(0, 0, 0, 0.3);
  margin: 0 0 3rem 1rem;
}

.banner button {
  width: 15rem;
  height: 5rem;
  background: linear-gradient(to left, #01581b, #2b9c4d);
  border: none;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  box-shadow: 12px 6px 18px #000;
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.banner button:hover {
  transform: translateY(-0.3rem);
}

/* End of Banner */

/* Backgrounds */
.backgrounds div {
  position: absolute;
}

.bg-main {
  width: 150%;
  height: 150%;
  background: linear-gradient(to left, transparent, #4400c5, #4400ab);
  top: -95%;
  left: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 10rem;
  opacity: 0.9;
  z-index: 1;
}

.bg-1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 60%, #2e0101, #914747);
  top: -40%;
  right: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
}

.bg-2 {
  width: 50%;
  height: 100%;
  background: linear-gradient(transparent 70%, #0a6602, #6d9b68);
  top: -60%;
  right: -10%;
  transform: rotateZ(-15deg) skewX(30deg);
  border-radius: 0 0 0 5rem;
  z-index: 2;
  opacity: 0.4;
  box-shadow: 7rem 4rem 6rem rgba(0, 0, 0, 0.9);
}

/* End of Backgrounds */
/* End of Header */

/* Services */
.services {
  width: 100%;
  height: 170vh;
  position: relative;
}

.services-wrapper {
  width: 60%;
  box-shadow: 12px 6px 18px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

.services-wrapper h1 {
  font-family: "Mooli", cursive;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #394353;
  letter-spacing: 0.1rem;
  margin-bottom: 8rem;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  width: 28%;
  height: 35rem;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service i {
  width: 10rem;
  height: 10rem;
  background-color: #860000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}

.service:hover i {
  transform: scale(1.1);
}

.service:nth-child(1) i {
  background: linear-gradient(#fff, #011af7, #6dc4fd 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #011af7;
}

.service:nth-child(2) i {
  background: linear-gradient(#fff, #31dca1, #7ffcc2 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #31dca1;
}

.service:nth-child(3) i {
  background: linear-gradient(#fff, #016e8a, #76e4ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #016e8a;
}

.service:nth-child(4) i {
  background: linear-gradient(#fff, #fd9800, #f8d39b 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #fd9800;
}

.service:nth-child(5) i {
  background: linear-gradient(#fff, #7301a0, #d261ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #7301a0;
}

.service:nth-child(6) i {
  background: linear-gradient(#fff, #800116, #fc8b9e 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #800116;
}

.service:nth-child(7) i {
  background: linear-gradient(#fff, #800116, #011af7 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #800116;
}
.service:nth-child(8) i {
  background: linear-gradient(#fff, #046101, #0ef006 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #046101;
}

.service:nth-child(9) i {
  background: linear-gradient(#fff, #665300, #f5d440 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 6px 3px 9px #665300;
}

.service h3 {
  font-family: "Mooli", cursive;
  font-size: 2rem;
  color: #5e728f;
  margin: 2rem 0;
  text-align: center;
}

.service p {
  font-size: 1.6rem;
  color: #8698a7;
  text-align: center;
}

.services-bg-1 {
  width: 80rem;
  height: 80rem;
  background: linear-gradient(to right, transparent, transparent, #4400c5);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 10%;
  opacity: 0.3;
}

.services-bg-2 {
  width: 80rem;
  height: 80rem;
  background: linear-gradient(to left, transparent, transparent, #009ec5);
  border-radius: 15%;
  position: absolute;
  bottom: 5%;
  left: 12%;
  opacity: 0.3;
  transform: rotateZ(-10deg);
}
/* End of Services */

/* Projects */
.projects {
  width: 100%;
  height: 100%;
  padding: 25rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h1 {
  font-family: "Mooli", cursive;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #394353;
  margin-bottom: 4rem;
}

.projects p {
  width: 90rem;
  text-align: center;
  font-size: 2rem;
  color: #8698a7;
  margin-bottom: 4rem;
}

.filter-nav {
  width: 80%;
  min-height: 10rem;
  background-color: #fff;
  box-shadow: 6px 3px 9px #011af7;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}
.filter-nav-link {
  width: 14rem;
  height: 4rem;
  background-color: #f2f4f5;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #919daa;
  letter-spacing: 0.1rem;
  box-shadow: 6px 3px 9px #011af7;
  transition: transform 0.3s;
}

.filter-nav-link:hover {
  background-color: #dadfe2;
  transform: translateY(-0.3rem);
}

.active {
  background-color: #fab651;
  color: #fff;
}

.active:hover {
  background-color: #fd9800;
}

.projects-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 33rem;
  height: 33rem;
  position: relative;
  margin: 5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.1);
}

.project.hide {
  display: none;
}

.project img {
  position: absolute;
  object-fit: cover;
  top: 50%;
  border-radius: 1rem;
}

.project img:nth-child(1) {
  width: 22rem;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 6px 3px 9px #000;
  z-index: 2;
}
.project img:nth-child(2) {
  width: 20rem;
  height: 30rem;
  left: -5%;
  transform: translateY(-50%);
  box-shadow: 0 3rem 8rem rgba(12, 12, 12, 0.9);
  z-index: 1;
}

.project img:nth-child(3) {
  width: 100%;
  height: 70%;
  right: -10%;
  transform: translateY(-50%);
  box-shadow: 12px 6px 18px #000;
}

/* End of Projects */
/* End of Container */

/*width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden; /* Bloquea el desplazamiento horizontal */
/*overflow-y: auto; /* Permite solo el desplazamiento vertical */
